.env
.venv/

.ruff_cache/
.pytest_cache/

# Python bytecode
__pycache__/
*.py[cod]

# Ignore __pycache__ in the_wicker_man
the_wicker_man/__pycache__/

# Coverage reports
.coverage
htmlcov/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Lock and version files
uv.lock
.python-version
